.business-card {
    cursor: pointer;
    width: 200px;
    height: 300px;
    background-color: #fffccc;
    border-radius: 12px;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    padding: 20px;
    
    
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}

h1{
    font-size: 2rem;
}

/* Hover state */
.business-card:hover {
    transform: scale(1.05) rotate(1deg);
    box-shadow: 0 0 15px #646cff50;
    /* box-shadow: 0 10px 20px rgba(26, 28, 119, 0.15); */
}

.business:hover::before {
    top: 100%;
    left: 100%;
}
