.business-card {
    cursor: pointer;
    width: 200px;
    height: 300px;
    background-color: #fffccc;
    border-radius: 12px;
    padding: 20px;

    border: 2px solid;
    border-color: rgb(0, 0, 0);    
    
    display: inline-block;
    transition: all 0.3s ease;

    margin-right: -100px;
}

h1{
    font-size: 2rem;
    color: #444444
}

p{
    font-size: 1rem;
    color: #444444
}


/* Hover state */
.business-card:hover {
    transform: scale(1.05) rotate(1deg);
    box-shadow: 0 0 15px #646cff50;
}

.business:hover::before {
    top: 100%;
    left: 100%;
}
